html {
    background-color: #121212;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    overflow-x: hidden;
}

h1 {
    color: #BB86FC;
}

h1, h2 {
    text-align: center;
    width: 100%;
}

.button {
    background-color: #711ca7;;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    padding: 10px 5px;
    
    text-decoration: none;
}

.button:hover {
    background: linear-gradient(#BB86FC, #711ca7);
}

.buttonRow {
    display: flex;
    justify-content: space-evenly;
    margin: 25px 0;
}