.optionBox {
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid black;
    max-height: 300px;
    overflow: auto;
    padding: 5px;
}

.optionsList {
    max-height: 300px;
    overflow: auto;
}

.optionRow {
    display: flex;
    margin: 10px 0;
}

.optionRow .button {
    padding: 5px;
}

.randomControls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.spinDiv {
    display: flex;
    justify-content: center;
    width: 100%;
}

.spinDiv .button {
    min-width: 135px;
}

.spinner {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
}

.spinner:after {
    background: url('../images/leftChevron.svg') no-repeat;
    background-size: contain;
    content: '';
    height: 32px;
    position: absolute;
    right: -5%;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
}

.spinner.animate:after{
    animation: animateArrow 0.7s ease infinite;
}

@keyframes animateArrow{
    50%{
        right: -10%;
    }
}

.wedge {
    height: 600px;
    position: absolute;
    width: 600px;
}

.wedgeText {
    max-width: 80px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
}

.wheel {
    align-items: center;
    border-radius: 50%;
    display: flex;
    height: 420px;
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 5s;
    width: 420px;
}

@media only screen and (max-width: 450px) {
    .wedgeText {
        max-width: 50px;
    }

    .wheel {
        height: 250px;
        width: 250px;
    }
}